body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #efeae2;
}

/* CHAT */
.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.chat-header {
  background: #075e54;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header-dp {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

/* MESSAGES */
.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

/* MESSAGE ROW */
.msg {
  display: flex;
  margin-bottom: 6px;
}

/* BUBBLE */
.bubble {
  max-width: 65%;
  padding: 8px;
  border-radius: 8px;
  background: #fff;
}

/* ME */
.msg.me {
  justify-content: flex-end;
}

.msg.me .bubble {
  background: #dcf8c6;
}

/* INPUT */
.input-bar {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

.input-bar input {
  flex: 1;
  padding: 8px;
}