body {
  margin: 0;
  font-family: Arial;
  background: #efeae2
}

.sidebar {
  width: 320px;
  height: 100vh;
  background: #fff
}

.sidebar-header {
  background: #075e54;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center
}

.sidebar-header img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px
}

.user {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer
}

.user img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px
}

.chat {
  height: 100vh;
  display: flex;
  flex-direction: column
}

.chat-header {
  background: #075e54;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between
}

.messages {
  flex: 1;
  padding: 10px;
  overflow: auto
}

.msg {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  max-width: 60%
}

.me {
  background: #dcf8c6;
  margin-left: auto
}

.other {
  background: #fff
}

.input {
  display: flex;
  padding: 10px;
  background: #f0f0f0
}

.input input {
  flex: 1;
  padding: 8px
}
.dp {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 6px;
}

