body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* JOIN PAGE */
.join-body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #075e54;
}

.join-box {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.join-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.join-box button {
  width: 100%;
  padding: 10px;
  background: #25d366;
  border: none;
  color: #fff;
  font-size: 16px;
}

/* CHAT PAGE */
.chat-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  background: #075e54;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.chat-area {
  flex: 1;
  padding: 10px;
  background: #ece5dd;
  overflow-y: auto;
}

.my-msg {
  text-align: right;
  margin: 5px;
  background: #dcf8c6;
  padding: 8px;
  border-radius: 5px;
}

.other-msg {
  text-align: left;
  margin: 5px;
  background: #fff;
  padding: 8px;
  border-radius: 5px;
}

.info {
  text-align: center;
  color: gray;
  font-size: 12px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

.chat-input input {
  flex: 1;
  padding: 10px;
}

.chat-input button {
  padding: 10px 15px;
  background: #25d366;
  border: none;
  color: #fff;
}
