body {
  margin: 0;
  font-family: Arial;
  background: #ece5dd;
}

.header {
  background: #075e54;
  color: white;
  padding: 15px;
  text-align: center;
}

#messages {
  height: calc(100vh - 120px);
  padding: 10px;
  overflow-y: auto;
}

.msg {
  background: #dcf8c6;
  padding: 8px 12px;
  margin: 6px;
  border-radius: 8px;
  width: fit-content;
}

.me {
  margin-left: auto;
}

.input-box {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

input {
  flex: 1;
  padding: 10px;
}
button {
  padding: 10px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
