body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #efeae2;
}

/* JOIN PAGE */
.join-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.join-card {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.join-card h2 {
  margin-bottom: 15px;
}

.dp-preview {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.join-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.file-btn {
  display: block;
  background: #ddd;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-btn input {
  display: none;
}

.join-card button {
  width: 100%;
  padding: 10px;
  background: #25d366;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* CHAT PAGE */
.chat-body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.chat-container {
  width: 400px;
  background: #efeae2;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background: #075e54;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.status {
  margin-left: auto;
  font-size: 12px;
  color: #c7f0c2;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  max-width: 70%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 14px;
}

.me {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: white;
}

.chat-input {
  display: flex;
  padding: 8px;
  background: #f0f0f0;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.chat-input button {
  background: #25d366;
  border: none;
  color: white;
  padding: 0 15px;
  font-size: 18px;
  cursor: pointer;
}

.chat-input button:disabled {
  background: #a5d6a7;
  cursor: not-allowed;
}
