* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #ece5dd;
}

.app {
  max-width: 420px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.header {
  background: #075e54;
  color: #fff;
  padding: 12px;
  text-align: center;
}

.list {
  flex: 1;
  overflow-y: auto;
}

.user {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.chat-area {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #e5ddd5;
}

.msg {
  max-width: 80%;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 6px;
}

.me {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: #fff;
}

.input-box {
  display: flex;
  padding: 8px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.input-box button {
  margin-left: 5px;
  padding: 0 14px;
  border-radius: 50%;
  background: #075e54;
  color: #fff;
  border: none;
}

.input-box button:disabled {
  background: #ccc;
}

.user {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%
}

.dot.on {
  background: green
}

.dot.off {
  background: gray
}